<!-- <div *ngIf="isSuperusuario">
    <app-navbar></app-navbar>
</div> -->

<div class="container-fluid  d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-3">
            <img src="./assets/img/logos/logo.png" class="img-thumbnail" />
        </div>

        <div class="col-lg-6">
            <div class="mt-3">
                <div class="card shadow p-2">
                    <h2 class="card-title text-center"><b>Bienvenido, {{infoUsuario.nombre}}</b></h2>
                    <div class="card-body">
                        <div class="text-center">
                            <h6>Por favor selecciona el motivo de tu visita</h6>
                        </div>
                        <hr>
                        <form [formGroup]="visitaForm" novalidate (submit)="registrarVisita($event)">
                            <div class="form-group">
                                <div *ngFor="let item of catalogos">
                                    <!-- <input type="radio" name="catalogoId" [value]="item.id" formControlName="catalogoId" [ngClass]="{ 'is-invalid': hasErrors('catalogoId', 'required') }">
                                    <label class="ml-4"> {{ item.catalogo }}</label> -->

                                    <input type="radio" name="catalogoId" [value]="item.id" formControlName="catalogoId" [ngClass]="{ 'is-invalid': hasErrors('catalogoId', 'required') }">
                                    <label class="radio-label"> {{ item.catalogo }}</label>
                                </div>
                                <span *ngIf="hasErrors('catalogoId', 'required')" class="text-danger">Catalogo es campo requerido</span>
                            </div>

                            <div class="form-group mt-2">
                                <label for="exampleInputEmail1" class="text-left">Taller</label>
                                <input maxlength="100" formControlName="taller" [ngClass]="{ 'is-invalid': hasErrors('taller', 'required') }" type="text" placeholder="Ingrese una descripción del taller al cual asiste" class="form-control" id="taller" aria-describedby="tallerHelp" />
                                <span *ngIf="hasErrors('taller', 'required')" class="text-danger">Taller es campo requerido</span
>
                            </div>

                            <div class="form-group mt-2">
                                <label for="exampleInputEmail1" class="text-left">Actividad</label>
                                <input maxlength="100" formControlName="actividad" [ngClass]="{ 'is-invalid': hasErrors('actividad', 'required') }" type="text" placeholder="Ingrese una descripción de la actividad a realizar" class="form-control" id="actividad" aria-describedby="actividadHelp"
                                />
                                <span *ngIf="hasErrors('actividad', 'required')" class="text-danger">Actividad es campo requerido</span
>
                            </div>

                            <div class="col-lg-12 mt-3">
                                <button class="btn btn-primary btn-block w-100" type="submit">
                          Registrar visita
                        </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <img src="./assets/img/imagenes/bc.png" class="img-thumbnail" width="335" height="365" />
        </div>

    </div>



</div>